.apply-doctor-container .main-container{
    padding: 10px;
}
.apply-doctor-container .main-container{
    display: flex;
    flex-direction: column;
}
.apply-doctor-container .main-container .personal-details{
    display: flex;
    flex-wrap: wrap;
}

.apply-doctor-container .main-container input{
    width: 300px;
    border-radius: 3px;
    margin-top: 0px;
    height: 40px;
}
.apply-doctor-container .main-container .personal-details .info{
   margin: 10px 10px;
}
.apply-doctor-container .main-container p{
    font-size: 20px;
    font-weight: 50px;
}

.apply-doctor-container .main-container .professional-details{
    display: flex;
    flex-wrap: wrap;
}
.apply-doctor-container .main-container .professional-details .info{
    margin: 10px 10px;
 }
 
 .apply-doctor-container .main-container .target{
    margin-top: 30px;
 }
 .apply-doctor-container .btn{
    margin-top: 130px;
    color: white;
    background-color: blue;
    font-size: 30px;
    font-weight: 40px;
    width: 30%;
    justify-content: center;
    height: 50px;
 }
 