.doctorlist-container {
  padding: 40px;
  width: 100%;
  height: auto; /* Change to auto to allow height adjustment based on content */
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.doctorlist-container .main-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 4px;
  width: 30%;
  height: 30%;
  box-shadow: 1px 1px 1px 1px rgb(198, 194, 194);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.doctorlist-container .main-container:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 2px 2px rgb(198, 194, 194);
}

.doctorlist-container .main-container .name {
  background-color: rgb(220, 220, 220);
  padding: 10px;
  width: 100%;
  height: auto; /* Change to auto to allow height adjustment based on content */
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.doctorlist-container .main-container .about {
  padding: 10px;
  font-size: 18px;
}

.name1 {
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .doctorlist-container .main-container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust the width based on your preference */
  }
}

@media (max-width: 480px) {
  .doctorlist-container .main-container {
    width: 100%; /* Adjust the width based on your preference */
  }
}
